{% extends 'store/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="container">
	<h1 class="about-heading">About us</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt porttitor urna,
	et laoreet ex tincidunt aliquet. Praesent sit amet libero eget orci placerat porttitor.
	Vivamus lacus turpis, scelerisque id justo sed, porttitor dapibus odio. Sed nec urna
	efficitur, iaculis lorem vitae, imperdiet ex. Nulla ac ultricies augue. Duis
	rhoncus, sapien non dictum tempus, mauris lectus dignissim augue, vitae ultricies
	tellus quam quis mauris. Sed ac nibh at risus placerat euismod. Aenean velit
	tellus, dignissim vitae vehicula non, aliquam vitae ligula. Sed consectetur
	magna quis lectus aliquam, quis consectetur odio lacinia. Sed ligula tellus.<br><br>
	venenatis vel risus id, dignissim efficitur eros. Nulla mauris ante, aliquet eget
	ipsum non, imperdiet laoreet ante. Pellentesque vel mi nec risus commodo lacinia
	.Phasellus et sem luctus, lobortis massa sed, suscipit elit. Sed turpis quam,
	luctus sit amet odio euismod, rutrum sollicitudin odio. Sed tincidunt bibendum
	erat, at convallis ante aliquet sit amet.</p>
	<div class="inner-container">
		<div id="info" class="location">
			<i class="fas fa-map-marker-alt"></i><h1>Location</h1>
			<br><br>
			<p>
				Office : Agrabad<br>
				Location: load-4, line-3, Housing state, Agrabad, Chittagnong.<br>
				<br><br>
				Office : New market<br>
				Location: 2000-ctg, ARB tower, New market, Chittagong.<br>
				<br><br>
				Office: Chokbazar<br>
				Location: Gulzar tower, 4th flooer, Chokbazar, Chittagong.<br>
			</p>
		</div>
		<div id="info" class="contact">
			<i class="fas fa-headset"></i><h1>Contact</h1><br><br>
			<p>
				Office : Agrabad<br>
				Phone: 01892929292<br>
				Email: shoptarunno_agrabad@fakemail.com<br>
				facebook: www.facebook.com/st_agrabad<br>
				<br><br>
				Office : New market<br>
				Phone: 01890909090<br>
				Email: shoptarunno_newmarket@fakemail.com<br>
				facebook: www.facebook.com/st_market<br>
				<br><br>
				Office: Chokbazar<br>
				Phone: 01890908989<br>
				Email: shoptarunno_chokbazar@fakemail.com<br>
				facebook: www.facebook.com/st_bazar<br>
			</p>
		</div>
	</div>
</div>
{% endblock body %}
