{% extends 'store/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="container">
	<h1 class="cart-heading">Cart</h1>
	<div class="inner-container">
		<div class="cart-index">
			<h3>Number of items: <span id="number">{{ order.get_cart_total_item }}</span></h3>
			<h3>Total price: <span id="number"><i class="fas fa-dollar-sign"></i> {{ order.get_cart_total }}</span></h3>
			<a class="checkout-btn" href="{% url 'checkout' %}"> Checkout </a>
		</div>
		<div class="cart-items">
			{% for item in items %}
				<div class="cart-item">
					<img src={{ item.product.image.url }} alt="Product image">
					<h4 class="cart-item-name">{{ item.product.name | slice:40 }}...</h4>
					<h4 class="cart-item-price">Price: <span id="number"><i class="fas fa-dollar-sign"></i> {{ item.product.price | floatformat:2 }}</span></h4>
					<h4 class="cart-item-quentity">Quentity: <span class="quentity-number" id="number">{{ item.quentity }}</span></h4>
					<div class="quentity-btn">
						<p class="up-btn update-item" data-product={{item.product.id}} data-action="add"><i class="fas fa-caret-up"></i></p>
						<p class="down-btn update-item" data-product={{item.product.id}} data-action="remove"><i class="fas fa-caret-down"></i></p>
					</div>
					<h4 class="cart-item-total-price">Total: <span id="number"><i class="fas fa-dollar-sign"></i> {{ item.get_total | floatformat:2 }}</span></h4>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/cart.js' %}">

</script>
{% endblock body %}
