{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="login">
	<h2 class="logout">You have logged out! <a href="{% url 'login' %}"> Login! </a></h2>
</div>
<script type="text/javascript">
	var cart = JSON.parse(getCookie('cart'))
	var number = 0;
	if (cart == undefined){
		cart = {}
		console.log('Cart Created!', cart)
		document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
	}
	else{
		for(i in cart){
			number += cart[i]['quentity'];
		}
	}
	var cart_number = document.querySelector('.cart-number');
	cart_number.innerHTML = number;
</script>
{% endblock body %}
