{% extends 'store/base.html' %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/store.css' %}">
<div class="max-width-container">
	<div class="parallax-window-1" data-parallax="scroll" data-image-src="{% static 'img/showcase.svg' %}">
		<div class="showcase-text">
			<h1>Shop The Best Tshirts</h1>
			<p>We are selling cool Tshirt for you and your loved one. You can check out our cool Tshirts here.
			or can visit our showrooms! </p>
			<a class="showcase-btn" href="{% url 'about' %}"> Know more </a>
		</div>
	</div>
	<div class="sells">
		<h1>On sell</h1>
		<div class="carosol">
			<div class="carosol-container">
				<div class="carosol-container-inner">
					{% for product in on_sells %}
						<div class="item">
							<img src={{ product.image.url }}>
							<h3 class="product-name"> {{ product.name }}</h3>
							<a data-product={{product.id}}
							   data-action="add"
							   id="item-btn" class="add-to-cart-btn update-cart">Add to cart</a>
							<a id="item-btn" class="view-product" href="../../product/{{product.id}}">View</a>
							<div class="price">
								<h3 class="product-price"><i class="fas fa-dollar-sign"></i>{{ product.price }}</h3>
								<h6 class="product-old-price"><i class="fas fa-dollar-sign"></i>{{ product.old_price }}</h6>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div id="arrow" class="left"><img src="{% static 'img/left.svg' %}" alt="left"></div>
			<div id="arrow" class="right"><img src="{% static 'img/right.svg' %}" alt="right"></div>
		</div>
	</div>
	<div class="parallax-window-2" data-parallax="scroll" data-image-src="{% static 'img/brands_showcase.jpg' %}">
		 <div class="showcase-text-2">
			<h1>Build Custom Tshirts</h1>
			<p>You can give us your design and we will bulid your awasome tshirt for you!</p>
			<a class="showcase-btn-2" href="{% url 'custom' %}"> Build Now </a>
		</div>
	</div>
	<div class="products">
		<h1>Products</h1>
		<div class="product-container">
			{% for product in products %}
				<div class="item-products">
					<div class="product-image" style="background: url({{ product.image.url }}) no-repeat center center / cover;">
					</div
					<h3 class="product-name"> {{ product.name }}</h3>
					<div class="product-actions">
						<a data-product={{product.id}} data-action="add" id="item-btn" class="add-to-cart-btn update-cart">Add to cart</a>
						<a id="item-btn" class="view-product" href="../../product/{{product.id}}">View</a>
						<h3 class="product-price"><i class="fas fa-dollar-sign"></i>{{ product.price }}</h3>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="show-more" href="../category/-1">Show more</a>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/store.js' %}"></script>
{% endblock body %}
