.container{
	margin-top: 70px;
}
.checkout-heading{
	font-size: 40px;
	width: 70%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.inner-container{
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	column-gap: 40px;
}
.inner-container-part{
	flex: 1;
}
.checkout-index{
	width: 100%;
	height: 130px;
	padding: 20px;
}
.checkout-index h3{
	color: gray;
	display: block;
	margin-top: 10px;
}
#number{
	color: green;
}
.inner-container-part{
	border: 0.01cm solid lightgray;
	padding: 20px;
}
.inner-container-part input{
	width: 95%;
	padding: 10px;
	border: none;
	background-color: #E7E7E7;
	margin-bottom: 10px;
}
.continue-btn{
	margin-top: 130px;
	margin-right: 32px;
	float: right;
	padding: 13px;
	border: 1px solid black;
	color: black;
	background-color: white;
	font-size: 16px;
	transition: .3s;
}
.continue-btn:hover{
	background-color: black;
	color: white;
	transition: .3s;
	cursor: pointer;
}
@media screen and (max-width: 770px) {
	.inner-container{
		width: 95%;
		flex-direction: column;
		column-gap: 30px;
	}
}
