.home-btn{
	border-bottom: 3px solid black;
	padding-bottom: 10px;
}

/* showcase */
.parallax-window-1 {
	margin-top: 70px;
    height: 95vh;
    background: transparent;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parallax-window-1 > .showcase-text{
	padding: 20px;
}
.showcase-text h1{
	font-size: 50px;
	text-shadow: 3px 3px 1px lightgray;
	margin-left: -3px;
}
.showcase-text p{
	font-size: 15px;
	margin-bottom: 25px;
}
.showcase-btn{
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 13px;
	margin-top: 20px;
	transition: .5s;
}
.showcase-btn:hover{
	background-color: rgba(0, 0, 0, 0.8);
	transition: .5s;
	color: white;
}


/* on sells */
.sells{
	height: 570px;
	background-color: white;
}
.sells h1{
	font-size: 50px;
	margin: 30px;
	text-align: center;
	margin-top: 40px;
}

/* carosol */
.carosol{
	height: auto;
}
.carosol .carosol-container{
	width: 90%;
	margin: auto;
	height: 100%;
	overflow: hidden;
}
.carosol .carosol-container-inner{
	margin-top: 10px;
	height: 100%;
	transition: .5s;
}
#arrow{
	display: inline;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
#arrow img{
	height: 40px;
	width: 40px;
}
.left{
	position: relative;
	top: -195px;
	margin-left: 15px;
}
.right{
	position: relative;
	top: -195px;
	float: right;
	margin-right: 15px;
}
.item{
	height: 350px;
	width: 250px;
	margin-right: 30px;
	float: left;
	background-color: white;
}
.item img{
	height: 250px;
	width: 250px;
}
.add-to-cart-btn{
	font-size: 13px;
	text-decoration: none;
	color: #6B6B6B;
	padding: 13px;
	background-color: #EDEDED;
	font-family: 'Arial', sans-serif;
	transition: .3s;
}
.view-product{
	font-size: 13px;
	text-decoration: none;
	color: #6B6B6B;
	padding: 13px;
	background-color: #EDEDED;
	font-family: 'Arial', sans-serif;
	transition: .3s;
}
.product-name{
	color: #404040;
	font-size: 15px;
	margin-bottom: 23px;
	margin-top: 10px;
}
.price{
	float: right;
}
.product-price{
	color: #404040;
	margin-right: 10px;
}
.product-old-price{
	text-decoration: line-through;
	font-size: 12px;
	padding: 1px;
	color: gray;
}
#item-btn:hover{
	background-color: #111;
 	color: white;
	transition: .3s;
	cursor: pointer;
}



/* build Tshirt */
.parallax-window-2 {
    height: 50vh;
    background: rgba(0, 0, 0, 0.6);
	background-position: top;
}
.parallax-window-2 > .showcase-text-2{
	text-align: center;
	width: 80%;
	height: 200px;
	position: relative;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -30%);
	color: white;
	margin-left: 20%;
}
.showcase-text-2 h1{
	font-size: 50px;
}
.showcase-text-2 p{
	font-size: 15px;
	margin-bottom: 25px;
}
.showcase-btn-2{
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 13px;
	margin-top: 20px;
	transition: .5s;
}
.showcase-btn-2:hover{
	border: 1px solid white;
	background-color: white;
	transition: .5s;
	color: black;
}


/* products */
.products{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
}
.products h1{
	font-size: 50px;
	margin-top: 40px;
}
.product-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	height: 100%;
	width: 90%;
	margin: auto;
}
.product-container .item-products{
	margin: 0px;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.item-products .product-image{
	height: 100%;
	width: 100%;
}
.item-products .product-actions{
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: flex-end;
}


/* paginator */
.pagination{
	text-align: center;
}
.show-more{
	width: 100px;
	margin: auto;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	padding: 13px;
	border: 1px solid black;
	transition: .3s;
}
.show-more:hover{
	background-color: black;
	color: white;
	transition: .3s;
}

@media screen and (max-width: 895px) {
	.left{
		margin-left: -11px;
	}
	.left img{
		background-color: white;
		padding: 10px;
	}
	.right{
		background-color: white;
		margin-right: -2px;
	}
	.product-container{
		grid-template-columns: repeat(3, 1fr);
	}
	.carosol{
		width: 97%;
		margin: auto;
	}
	.carosol .carosol-container{
		width: 100%;
		margin: auto;
		height: 100%;
	}
	.parallax-window-1 {
		width: 100%;
	}
}
@media screen and (max-width: 625px) {
	.product-container{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 565px) {
	.product-container{
		grid-template-columns: repeat(1, 1fr);
	}
	.product-container .item-products{
		min-height: 450px;
	}
	.parallax-window-2 {
	    height: 100vh;
	}
}
